OPENAI_BASE_URL=http://localhost:8000/v1
OPENAI_API_KEY=your-api-key-here
# replace with your model name if needed,
# "auto" will select the first available model
OPENAI_SELECTED_MODEL=auto

USER_AGENT_MAIL=your-email@example.com
USER_AGENT_REPO=https://github.com/yourusername/rag_pilot